<h1 class="govuk-heading-xl">Oops</h1>
<p class="govuk-body">Something went wrong</p>
<p class="govuk-body">The status code was <%= status %></p>
<p class="govuk-body">I bet you wish this error page was more helpful</p>
